.profile {
    width: 200px;
}

.gif {
    width: 200px;
}

.drake {
    width: 200px;
}

.lilbaby {
    width: 300px;
}

h3 {
    color: yellow;
}

p {
    color: white;
    background-color: black;
    font-family: "Lucida Console", "Courier New", monospace;
}

h2 {
    color: white;
    background-color: black;
    font-family: "Lucida Console", "Courier New", monospace;
}

body {
    background-color: green;
    background-image: url("https://i.pinimg.com/originals/da/d7/96/dad7967d732c8119ed35942cb8f16471.jpg");
}

.drake {
    border-radius: 50%;
}

.lilbaby {
    border-radius: 50%;
}

li {
    color: red;
    background-color: white;
}

/* The animation code */
@keyframes example {
    from {
        background-color: red;
    }

    to {
        background-color: yellow;
    }
}

/* The element to apply the animation to */
div {
    width: 100px;
    height: 100px;
    background-color: red;
    animation-name: example;
    animation-duration: 6s;
}